/* Animations */

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-up {
    /* Effect applied in homepage, mobile & desktop version */
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards; 
}



@keyframes right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}


@keyframes down {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}


.animate-down {
    /* Effect applied in orphanage page, mobile version */
    animation-name: down;
    animation-duration: 300ms;
}


@media (min-width: 760px) {
    .animate-right {
        /* Effect applied in orphanage page, desktop version */
        animation-name: right;
        animation-duration: 300ms;
    }
}