#page-orphanages {
    width: 100%;
    height: 100%;
    display: flex;
}

aside {
    background: linear-gradient(329.54deg, #15b6d6 0%, #15b6d6 100% ) no-repeat;
    width: clamp(24rem, 25vw, 44rem);
    padding: clamp(3rem, 5vw, 8rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


aside h2 {
    margin: 5.4rem 0 0 0;
    font: 800 clamp(2rem, 5vw, 3.6rem)/1.1 'Nunito', sans-serif;
}

aside p {
    margin: 2.4rem 0 0 0;
    font: 400 1.6rem/1.5 'Nunito', sans-serif;
}

aside footer p {
    margin: .8rem 0 0 0;
}

  #mapid {
        width: 100%;
        height: 100%;

        animation-delay: 200ms;
    }

/* button */
 a.create-orphanage {
    position: absolute;
    right:4rem;
    bottom: 4rem;

    z-index: 10;

    height: 6.4rem;
    width: 6.4rem;
    background: #15c3d6;
    border: 0;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 200ms;
 }

 a.create-orphanage:hover {
    background: #17d6eb;
 }

 /* map */
.leaflet-container {
    z-index: 5;
 }

 #mapid .leaflet-popup-content-wrapper {
    background: rgba(255,255,255,0.8);
    
    border-radius: 20px;
 }

 #mapid .leaflet-popup-content {
    color: #0089A5;
    font: 600 2rem/1 'Nunito', sans-serif;
    margin: .8rem 1.2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 #mapid .leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15C3D6;
    box-shadow: 17.2868px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
 }

 #mapid .leaflet-popup-content a:hover {
    background: #17D6EB;
 }

 #mapid .leaflet-popup-tip {
    display: none;
 }

 /* desktop version */

 @media (max-width: 760px) {
    #page-orphanages {
        display: block;
    }
    
    aside {
        width: 100vw;
        height: 45vh;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    aside h2 {
        margin: 3.2rem 0 0 0;
    }
    
    aside p { 
        margin: 2.4rem 0 0 0;
    }
    
    aside footer {
        display: flex;
        align-items: baseline;
        font: 400 clamp(1rem, 3vw, 1.6rem)/1.5 'Nunito', sans-serif;
        margin-top:1rem;
    }
    
    aside footer strong::after {
        content: ' -';
        padding-right: .5rem;
    }
    
    #mapid {
        width: 100%;
        height: 55vh;
    }

    #mapid .map-popup {
        bottom: -86px;
        left: -298px;
    }
 }