#page-orphanage aside.sidebar,
#page-create-orphanage aside.sidebar{
    position: fixed;
    height: 100%;
    padding: 3.2rem 2.4rem;
    background-color: #15c3d6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    background: #12AFCB;
    border-radius: 1.6rem;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 200ms;
}

aside.sidebar footer button:hover {
    background: #17D6EB;
}

/* mobile version */

@media (max-width:860px) {
    #page-orphanage aside.sidebar,
    #page-create-orphanage aside.sidebar {
        position:absolute;
        height: initial;
        width: initial;
        padding: initial;
        display: block;
        background: initial;
    }

    #page-orphanage aside > img,
    #page-create-orphanage aside > img {
        display: none;
    }

    aside.sidebar footer button {

        margin: 1.6rem 0 0 1.6rem;
    }
}